<%= render "devise/shared/top" %>
<h2 class='subtitle'><%= t('.title', resource: resource.model_name.human) %></h2>

<div class="block">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: 'label' %><br />
      <div class='control'>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-primary' %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class: 'label' %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
      <div class='control'>
        <%= f.password_field :password, autocomplete: "new-password", class: 'input is-primary' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'label' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-primary' %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: 'label' %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
      <div class='control'>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'input is-primary' %>
      </div>
    </div>

    <div class="actions block">
      <%= f.submit t('.update'), class: 'button is-primary' %>
    </div>
  <% end %>
</div>

<div class="block">
  <h3 class='subtitle'><%= t('.cancel_my_account') %></h3>
<p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'button is-danger' %></p>
</div>

<div class="block">
  <%= link_to t('devise.shared.links.back'), :back %>
</div>

<%= render "devise/shared/bottom" %>
