<%= render "devise/shared/top" %>
<h2><%= t('.forgot_your_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'label' %><br />
    <div class='control'>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-primary' %>
    </div>
  </div>

  <div class="actions block">
    <%= f.submit t('.send_me_reset_password_instructions'), class: 'button is-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= render "devise/shared/bottom" %>
