<footer class='footer'>
  <div class='container has-text-centered'>
    <div class='columns'>
      <div id='about' class='column'>
        <p><%= t("about1").html_safe %></p>
      </div>
      <div class='column'>
        <span class='icon'>
          <a href='https://twitter.com/THENAME' target='_blank'><%= fa_icon 'twitter 2x' %></a>
        </span>
        <span class='icon'>
            <a href='https://linkedin.com/THENAME' target='_blank'><%= fa_icon 'linkedin 2x' %></a>
        </span>
        <span class='icon'>
            <a href='https://gitlab.com/adminrezo/THENAME' target='_blank'><%= fa_icon 'gitlab 2x' %></a>
        </span>
      </div>
      <div class='column'>
        <p><%= t("about2").html_safe %></p>
      </div>
    </div>
  </div>
</footer>
