<section class="hero-main hero">
  <div class="hero-body has-text-centered">
    <div class='container is-fullhd has-text-centered'>
      <h1 class='thetitle'>THENAME</h1>
      <h2 class='thesubtitle'><%= t("subtitle") %></h2>
    </div>
  </div>
</section>
