<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class='container'>

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logo.webp">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nase">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="nase" class="navbar-menu">

      <div class="navbar-start">
        <a href='/' class='navbar-item is-hoverable'>
          <%= fa_icon 'home', class: 'has-text-primary', text: t('menuhome') %>
        </a>
        <a href='/domains' class='navbar-item'>
          <%= fa_icon 'globe', class: 'has-text-danger', text: t('menudomains') %>
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href='#'>
            <%= fa_icon 'cubes', class: 'has-text-link', text: t('menutools') %>
          </a>
          <div class="navbar-dropdown">
            <a class='navbar-item' href='https://grepon.adminrezo.fr/'>Grépon</a>
            <a class='navbar-item' href='https://obiou.adminrezo.fr/'>Obiou</a>
          </div>
        </div>
        <a href='#about' class='navbar-item'>
          <%= fa_icon 'question-circle', class: 'has-text-warning', text: t('menuabout') %>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class='buttons has-addons'>
          <% if user_signed_in? %>
            <a href='/users/edit'>
              <%= fa_icon 'user', class: 'button is-primary is-outlined' %>
            </a>
            <a href='/users/sign_out'>
              <%= fa_icon 'sign-out', class: 'button is-warning is-outlined', method: 'delete' %>
            </a>
          <% else %>
            <a href='/users/sign_up'>
              <%= fa_icon 'user-plus', class: 'button is-warning', text: t('signup') %>
            </a>
            <a href='/users/sign_in'>
              <%= fa_icon 'sign-in', class: 'button is-primary is-outlined', text: t('login') %>
            </a>
          <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</nav>
