<%= render "devise/shared/top" %>

<h2 class='subtitle'><%= t('.sign_in') %></h2>

<div class="block">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'label' %><br />
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-primary' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label' %><br />
      <div class="control">
        <%= f.password_field :password, autocomplete: "current-password", class: 'input is-primary' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'checkbox' %>
      </div>
    <% end %>

    <div class="actions block">
      <%= f.submit t('.sign_in'), class: 'button is-primary' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
<%= render "devise/shared/bottom" %>
